*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  border:2px solid #ededed;
  width: 80%;
  padding: 10px;
  border-radius: 4px;
}
.mt-1{
  margin: 10px auto ;
}
.d-flex:hover{
/* background-color: #37e1e142; */
background-color: #f15f7abe;
cursor: pointer;
}
.text-none{
  text-decoration: none;
  color: black;
}
.bg-gradient{
  background: #B24592; 
  background: -webkit-linear-gradient(to right, #F15F79, #B24592); 
  background: linear-gradient(to right, #F15F79, #B24592); 
}
.screen-size{
  min-height: 100vh;
  min-width: 100vw;
}
.d-flex-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  padding:5% 10%;
  background-color: white;
  border-radius: 10px;
}
.custom-card{
  padding:3% 0;
  width: 80% ;
}


.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 25px;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}





table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f4f4f4;
}


th {
  padding: 12px;
  border-bottom: 2px solid #ddd;
  text-align: left;
  font-weight: bold;
  color: #555;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
