body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  border:2px solid #ededed;
  width: 80%;
  padding: 10px;
  border-radius: 4px;
}
.mt-1{
  margin: 10px auto ;
}
.d-flex:hover{
background-color: #37e1e142;
cursor: pointer;
}